{% extends "base.html" %}
{% block content %}
<div class="row">
	{% for item in items %}
	<div class="col-md-3 col-sm-12">
	<div class="card">
		<div class="card-header bg-warning">
			<h5 class="card-title">
				{% if item.link %}<a target="_blank" class="text-decoration-none"
					href="{{ item.link }}">{% endif %}<strong>{{ item.title }}</strong>{% if item.link %}</a>{% endif %}
			</h5>
		</div>
		<div class="card-body">
			<p class="card-text">{{ item.description }}</p>
		</div>
	</div>
	</div>
        {% endfor %}
</div>
{% endblock %}
