<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title|default:"My Django App" }}</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Favicons -->

  </head>
  <body>
    

<main class="container">
	<div class="float-end"><a class="btn btn-sm mt-1 btn-secondary" href="{% url 'admin:index' %}">Manage</a></div>
	<h1 class="text-center">{{ title|default:"My Django App" }}</h1>
	<div class="row">
		<div class="col-md-12">
			{% block content %}{% endblock %}
		</div>
	</div>


</main><!-- /.container -->


    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

      
  </body>
</html>

